<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2025-10-21T22:04:04Z</date>
	<key>WorkspacePath</key>
	<string>/Users/jp/Coding/Xcode/DailyWebScanner/DailyWebScanner.xcodeproj</string>
</dict>
</plist>
