<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.applesignin</key>
	<array/>
	<key>com.apple.security.app-sandbox</key>
	<true/>
	<key>com.apple.security.temporary-exception.files.absolute-path.read-write</key>
	<array>
		<string>/Library/Preferences/com.apple.networkd.plist</string>
		<string>/Library/Preferences/com.apple.dnssd.service.plist</string>
		<string>/Library/Preferences/SystemConfiguration/preferences.plist</string>
		<string>/Library/Preferences/SystemConfiguration/NetworkInterfaces.plist</string>
	</array>
	<key>com.apple.security.temporary-exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.networkd</string>
		<string>com.apple.dnssd.service</string>
		<string>com.apple.systemconfiguration.network</string>
	</array>
	<key>com.apple.security.temporary-exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.networkd</string>
		<string>com.apple.dnssd.service</string>
	</array>
</dict>
</plist>
